.trend-page {
  padding: 30px;
  background: #f4f6f9;
  min-height: 100vh;
}

.trend-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.trend-header button {
  padding: 10px 18px;
  background: #111827;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}