.header {
  position: fixed;
  top: 0;
  right: 0;
  height: var(--header-height);
  width: calc(100% - var(--sidebar-width));
  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 90;
  transition: width 0.25s ease;
  align-items: center;
}

.header.collapsed {
  width: calc(100% - var(--sidebar-collapsed-width));
}

.header_heading {
  margin-left: 32px;
}