.trend-form {
  background: white;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  margin-bottom: 25px;
}

.trend-form h2 {
  margin-bottom: 15px;
  font-size: 22px;
}

.trend-form input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  font-size: 14px;
}

.save-btn {
  background: #111827;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.save-btn:hover {
  background: #1f2937;
}
